# Homework 2: Supervised Learning


# Dataset: [Pima Indians Diabetes Dataset](https://archive.ics.uci.edu/ml/datasets/Pima+Indians+Diabetes)


# [Data Description:](https://archive.ics.uci.edu/ml/machine-learning-databases/pima-indians-diabetes/pima-indians-diabetes.names)


# Due: 2/8 (beginning of class)


# Format: ipython notebook submission on GitHub

- send link to your repository to Mason and Lema


## Instructions: answer the following questions with data and visuals

- Describe the content of the dataset and its goals
- Describe the features and formulate a hypothesis on which might be relevant in predicting diabetes
- Describe the missing/NULL values. Decide if you should impute or drop them and justify your choice.
- Come up with a benchmark for the minimum performance that an algorithm should have on this dataset
- What's the best performance you can get with kNN? Is kNN a good choice for this dataset?
- What's the best performance you can get with Naive Bayes? Is NB a good choice for this dataset?
- What's the best performance you can get with Logistic Regression? Is LR a good choice for this dataset?
- What's the best performance you can get with Random Forest? Is RF a good choice for this dataset?
- If you could only choose one, which classifer from the above that you already ran is best? How do you define best? (hint: could be prediction accuracy, running time, interpretability, etc)


## Note: you should know by now, but here is the order of importance:

- Your analysis (there is no "right" answer, only good and bad defense of it)
- Your visuals
- Your coding implementation

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
#Load data

raw_data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/pima-indians-diabetes/pima-indians-diabetes.data',\
                    sep=',',header=None,\
                    names=['preg','glc_concen','blood_pres','skin','insulin','mass','pedigree','age','class'])

In [15]:
#Take a peak at the data structure

raw_data.head()

   preg  glc_concen  blood_pres  skin  insulin  mass  pedigree  age  class
0     6         148          72    35        0  33.6     0.627   50      1
1     1          85          66    29        0  26.6     0.351   31      0
2     8         183          64     0        0  23.3     0.672   32      1
3     1          89          66    23       94  28.1     0.167   21      0
4     0         137          40    35      168  43.1     2.288   33      1

In [16]:
raw_data.shape

(768, 9)

In [17]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 0 to 767
Data columns (total 9 columns):
preg          768 non-null int64
glc_concen    768 non-null int64
blood_pres    768 non-null int64
skin          768 non-null int64
insulin       768 non-null int64
mass          768 non-null float64
pedigree      768 non-null float64
age           768 non-null int64
class         768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 60.0 KB

In [18]:
raw_data.isnull().any()

preg          False
glc_concen    False
blood_pres    False
skin          False
insulin       False
mass          False
pedigree      False
age           False
class         False
dtype: bool

In [19]:
raw_data.describe()

,preg,glc_concen,blood_pres,skin,insulin,mass,pedigree,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

**Describe the content of the dataset and its goals**
==============
- The dataset has 768 observations and 9 variables.  
- All variables are of numerical values, among which two are composed of floating numbers and the rest are integers.
- The 'class' variable contains binary values, which is something the model ultimately tries to test and predict. 
- Since the 'class' variable are binary values, its mean equals to the percentage of people who have diabetes in 
  this sample dataset. It is not presesentive to the general Pima Indian population since the given observations are on
  21+ years old females only. 
- The dataset contains no missing values per se. However, if we look at the minimum value of each variable summarized in the       above table, the zero values present in 'blood_pres', 'skin','insulin','mass','pedigree' are likely to be the 'missing           values' that we were talking about. Since measurements for those indicators should be above-zero numbers by common sense.
-----------------

The **goal** would be to explore and determine what the best machine learning algorithm to use to predict on the diabetes rate among 
21+ years' old Pima Indian women based on the given dataset.

**Describe the features and formulate a hypothesis on which might be relevant in predicting diabetes**

**Describe the missing/NULL values. Decide if you should impute or drop them and justify your choice.**
==============
- The last column 'class' is the result we tend to predict. So we have 8 features.
- Based on my medical knowledge, 'plasma glucose concentration', '2-Hour serum insulin','Diabetes pedigree function' seem to 
   have high correlations with 'getting diabetes', while 'Diastolic blood pressure','Triceps skin fold thickness' and 'Age' 
   might have some influence on the diagnosis. 
- To understand which features are relevant and how much they contribute to the diabetes prediction, we could run a variable 
   correlation matrix. 
- The zeros values in certain features need to be manupulated before running correlation matrix. We could either 
       (1) drop the zeros
       (2) replace the zeros with some values (e.g.mean)
- The maximum value in 'insulin' column is significantly higher than mean (846 vs 80), which may indicate it as an outlier.

In [20]:
print "There are %.4f%% missing data in variable 'glc_concen'. " %(1-float(np.count_nonzero(raw_data['glc_concen']))/768)
print "There are %.4f%% missing data in variable 'blood_pres'. " %(1-float(np.count_nonzero(raw_data['blood_pres']))/768)
print "There are %.4f%% missing data in variable 'skin'. " %(1-float(np.count_nonzero(raw_data['skin']))/768)
print "There are %.4f%% missing data in variable 'insulin'. " %(1-float(np.count_nonzero(raw_data['insulin']))/768)
print "There are %.4f%% missing data in variable 'mass'. " %(1-float(np.count_nonzero(raw_data['mass']))/768)

There are 0.0065% missing data in variable 'glc_concen'.
There are 0.0456% missing data in variable 'blood_pres'.
There are 0.2956% missing data in variable 'skin'.
There are 0.4870% missing data in variable 'insulin'.
There are 0.0143% missing data in variable 'mass'.

Since the percentage of missing data, aka, zero values is very small, we could drop them.

But we need to first replace all zero values with NaN before dropping them.

In [37]:
#Take a closer look at column 'insulin' to determine if it is necessary to drop 'outliers'. 

sorted(raw_data['insulin'],reverse=True)

[846,
 744,
 680,
 600,
 579,
 545,
 543,
 540,
 510,
 495,
 495,
 485,
 480,
 480,
 478,
 474,
 465,
 440,
 415,
 402,
 392,
 387,
 375,
 370,
 360,
 342,
 335,
 330,
 328,
 326,
 325,
 325,
 325,
 321,
 318,
 310,
 304,
 300,
 293,
 293,
 291,
 285,
 285,
 284,
 280,
 278,
 277,
 275,
 274,
 272,
 271,
 270,
 265,
 265,
 258,
 255,
 250,
 249,
 245,
 240,
 240,
 237,
 235,
 231,
 231,
 230,
 230,
 228,
 225,
 225,
 220,
 220,
 215,
 215,
 215,
 210,
 210,
 210,
 210,
 210,
 207,
 207,
 205,
 205,
 204,
 200,
 200,
 200,
 200,
 196,
 194,
 194,
 194,
 193,
 192,
 192,
 191,
 190,
 190,
 190,
 190,
 188,
 185,
 185,
 184,
 183,
 182,
 182,
 182,
 180,
 180,
 180,
 180,
 180,
 180,
 180,
 178,
 176,
 176,
 176,
 175,
 175,
 175,
 171,
 170,
 170,
 168,
 168,
 168,
 168,
 167,
 167,
 166,
 165,
 165,
 165,
 165,
 160,
 160,
 160,
 160,
 159,
 158,
 158,
 156,
 156,
 156,
 155,
 155,
 155,
 155,
 152,
 152,
 150,
 150,
 148,
 148,
 146,
 145,
 145,
 145,
 144,
 144,
 142,
 140,
 140,
 140,
 140,
 140,
 140,
 140,
 140,
 140,
 135,
 135,
 135,
 135,
 135,
 135,
 132,
 132,
 130,
 130,
 130,
 130,
 130,
 130,
 130,
 130,
 130,
 129,
 128,
 127,
 126,
 126,
 126,
 125,
 125,
 125,
 125,
 122,
 122,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 119,
 116,
 116,
 115,
 115,
 115,
 115,
 115,
 115,
 114,
 114,
 112,
 110,
 110,
 110,
 110,
 110,
 110,
 108,
 106,
 106,
 106,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 100,
 100,
 100,
 100,
 100,
 100,
 100,
 99,
 99,
 96,
 96,
 95,
 95,
 94,
 94,
 94,
 94,
 94,
 94,
 94,
 92,
 92,
 92,
 91,
 90,
 90,
 90,
 90,
 89,
 88,
 88,
 88,
 88,
 87,
 87,
 86,
 85,
 85,
 84,
 83,
 83,
 83,
 82,
 82,
 82,
 81,
 79,
 79,
 78,
 78,
 77,
 77,
 76,
 76,
 76,
 76,
 76,
 75,
 75,
 75,
 74,
 74,
 74,
 73,
 72,
 71,
 71,
 71,
 71,
 70,
 70,
 70,
 68,
 67,
 67,
 66,
 66,
 66,
 66,
 66,
 65,
 64,
 64,
 64,
 64,
 63,
 63,
 63,
 61,
 60,
 60,
 59,
 58,
 58,
 57,
 57,
 56,
 56,
 56,
 56,
 56,
 55,
 55,
 54,
 54,
 54,
 54,
 53,
 53,
 52,
 51,
 50,
 50,
 50,
 49,
 49,
 49,
 49,
 49,
 48,
 48,
 48,
 46,
 45,
 45,
 45,
 44,
 44,
 44,
 43,
 42,
 41,
 40,
 40,
 38,
 37,
 37,
 36,
 36,
 36,
 32,
 29,
 25,
 23,
 23,
 22,
 18,
 18,
 16,
 15,
 14,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

Given that there are numbers like 744, 680, 600, 846 doesn't seems to be that of an anomaly. So we can just keep it.

In [22]:
data = raw_data.copy().replace({'glc_concen':{0:np.nan},'blood_pres':{0:np.nan},'blood_pres':{0:np.nan},'skin':{0:np.nan},'insulin':{0:np.nan},\
                    'mass':{0:np.nan}})


data.head()

   preg  glc_concen  blood_pres  skin  insulin  mass  pedigree  age  class
0     6         148          72    35      NaN  33.6     0.627   50      1
1     1          85          66    29      NaN  26.6     0.351   31      0
2     8         183          64   NaN      NaN  23.3     0.672   32      1
3     1          89          66    23       94  28.1     0.167   21      0
4     0         137          40    35      168  43.1     2.288   33      1

In [23]:
df=data.copy() 

df.dropna(axis=0,how='any',inplace=True)

df.shape

(392, 9)

Now the sample size has been reduced to 392 observations.

In [24]:
df.describe()

,preg,glc_concen,blood_pres,skin,insulin,mass,pedigree,age,class
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,3.301020,122.627551,70.663265,29.145408,156.056122,33.086224,0.523046,30.864796,0.331633
std,3.211424,30.860781,12.496092,10.516424,118.841690,7.027659,0.345488,10.200777,0.471401
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,21.000000,76.750000,28.400000,0.269750,23.000000,0.000000
50%,2.000000,119.000000,70.000000,29.000000,125.500000,33.200000,0.449500,27.000000,0.000000
75%,5.000000,143.000000,78.000000,37.000000,190.000000,37.100000,0.687000,36.000000,1.000000
max,17.000000,198.000000,110.000000,63.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [25]:
#run a feature correlation matrix

df.corr()

,preg,glc_concen,blood_pres,skin,insulin,mass,pedigree,age,class
preg,1.000000,0.198291,0.213355,0.093209,0.078984,-0.025347,0.007562,0.679608,0.256566
glc_concen,0.198291,1.000000,0.210027,0.198856,0.581223,0.209516,0.140180,0.343641,0.515703
blood_pres,0.213355,0.210027,1.000000,0.232571,0.098512,0.304403,-0.015971,0.300039,0.192673
skin,0.093209,0.198856,0.232571,1.000000,0.182199,0.664355,0.160499,0.167761,0.255936
insulin,0.078984,0.581223,0.098512,0.182199,1.000000,0.226397,0.135906,0.217082,0.301429
mass,-0.025347,0.209516,0.304403,0.664355,0.226397,1.000000,0.158771,0.069814,0.270118
pedigree,0.007562,0.140180,-0.015971,0.160499,0.135906,0.158771,1.000000,0.085029,0.209330
age,0.679608,0.343641,0.300039,0.167761,0.217082,0.069814,0.085029,1.000000,0.350804
class,0.256566,0.515703,0.192673,0.255936,0.301429,0.270118,0.209330,0.350804,1.000000

Based on the matrix table, there are preg-age, glc_concen-insulin, skin-mass these three pairs that have strong correlations. 
This will be reference for later algorithm choosing.

**Come up with a benchmark for the minimum performance that an algorithm should have on this dataset**

Create s 'dummy' models. The DummyClassifier will be a baseline to compare with other classifiers.

DummyRegressor predicts mean; DummyClassifier predicts the most common class. We'll try to beat them!

In [38]:
from sklearn.dummy import DummyClassifier, DummyRegressor

dc = DummyClassifier()
dr = DummyRegressor()

In [39]:
#Data split

pima_labels = df['class']
pima_X = df.drop('class', axis=1)


from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(pima_X, pima_labels, 
                                                    test_size=0.2, random_state=7)

**What's the best performance you can get with kNN? Is kNN a good choice for this dataset?**

In [27]:
# 10 cross validation iterations with 20% test / 80% train
from sklearn.cross_validation import ShuffleSplit
cv = ShuffleSplit(X_train.shape[0], n_iter=10, test_size=0.2, random_state=0)

In [28]:
# Standardization: bring all of the features onto the same scale

from sklearn.preprocessing import StandardScaler
stdsc = StandardScaler()
# transform our training features
X_train_std = stdsc.fit_transform(X_train)
# transform the testing features in the same way
X_test_std = stdsc.transform(X_test)

In [29]:
#Now all features are on the same scale

pd.DataFrame(X_train_std, columns=X_train.columns).head()

,preg,glc_concen,blood_pres,skin,insulin,mass,pedigree,age
0,0.802410,-0.544995,-0.014177,0.294995,-0.733566,-0.304580,-1.113849,0.609127
1,0.492726,-0.741142,-1.281977,-0.081876,-0.603972,0.142798,-0.075459,-0.092185
2,-1.055699,0.141523,1.095149,0.012342,0.536456,-0.318560,-0.017617,-0.693310
3,-0.126644,-0.185390,0.302773,-1.306709,-0.413901,-0.933706,-1.155164,-0.693310
4,-0.436329,-0.316155,-0.172652,-0.647183,-0.508936,0.156779,-0.582259,-0.492935